@import "tailwindcss";

@theme {
  --color-text-100: #0f172a;
  --color-primary: #4fbff8;
  --color-text-200: #475569;
  --color-text-300: #64748b;
  --color-label: #334155;
  --color-border-100: #e2e8f0;
  --color-text-400: #94a3b8;
  --font-sans: var(--font-inter);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
